In [1]:
# https://confluence.ihtsdotools.org/display/DOCRELFMT/4.2.6+Concrete+Value+File+Specification
# more info here

from pathlib import Path
path = Path(r"C:\Users\Sean McCarren\Downloads\SnomedCT_InternationalRF2_PRODUCTION_20220430T120000Z\SnomedCT_InternationalRF2_PRODUCTION_20220430T120000Z\Full\Terminology")

import os

CONCEPT, DESCRIPTION, IDENTIFIER, RELATIONSHIP_CONCRETE_VALUES, RELATIONSHIP, STATED_RELATIONSHIP, TEXT_DEFINITION, SREFSET = [str(path / file) for file in sorted(os.listdir(path))]

In [2]:
import pandas as pd
import numpy as np

C:\Users\Sean McCarren\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Sean McCarren\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\Sean McCarren\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
concept = pd.read_csv(CONCEPT, sep='\t', index_col='id')
concept

,effectiveTime,active,moduleId,definitionStatusId
id,,,,
100005,20020131,0,900000000000207008,900000000000074008
101009,20020131,1,900000000000207008,900000000000074008
102002,20020131,1,900000000000207008,900000000000074008
103007,20020131,1,900000000000207008,900000000000074008
104001,20020131,1,900000000000207008,900000000000073002
...,...,...,...,...
987840791000119102,20210731,1,900000000000207008,900000000000074008
989065441000087103,20140731,1,900000000000207008,900000000000074008
998010041000087101,20160131,1,900000000000207008,900000000000074008
999480551000087103,20140731,1,900000000000207008,900000000000074008
999480561000087100,20140731,1,900000000000207008,900000000000074008

In [4]:
description = pd.read_csv(DESCRIPTION, sep='\t', index_col='id')
description

,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
id,,,,,,,,
101013,20020131,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000020002
101013,20170731,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000448009
102018,20020131,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000020002
102018,20170731,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000448009
103011,20020131,1,900000000000207008,126815003,en,900000000000013009,Neoplasm of lateral wall of oropharynx,900000000000020002
...,...,...,...,...,...,...,...,...
900000000001210011,20020131,1,900000000000012004,900000000000550004,en,900000000000013009,Definition,900000000000020002
900000000001210011,20170731,1,900000000000012004,900000000000550004,en,900000000000013009,Definition,900000000000448009
900000000001211010,20020131,1,900000000000012004,900000000000550004,en,900000000000003001,Definition (core metadata concept),900000000000020002
900000000001211010,20170731,1,900000000000012004,900000000000550004,en,900000000000003001,Definition (core metadata concept),900000000000448009
934530801000132110,20170731,1,900000000000207008,625544171000132109,en,900000000000013009,Disorder of pancreatic stent,900000000000448009

In [5]:
relationship = pd.read_csv(RELATIONSHIP, sep='\t')
relationship

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
0,100022,20020131,1,900000000000207008,100000000,102272007,0,116680003,900000000000011006,900000000000451002
1,100022,20090731,0,900000000000207008,100000000,102272007,0,116680003,900000000000011006,900000000000451002
2,101021,20020131,1,900000000000207008,10000006,29857009,0,116680003,900000000000011006,900000000000451002
3,102025,20020131,1,900000000000207008,10000006,9972008,0,116680003,900000000000011006,900000000000451002
4,103024,20020131,1,900000000000207008,1000004,19130008,0,116680003,900000000000011006,900000000000451002
...,...,...,...,...,...,...,...,...,...,...
6133389,900000000000719027,20020131,1,900000000000012004,900000000000546006,900000000000491004,0,116680003,900000000000011006,900000000000451002
6133390,900000000000720022,20020131,1,900000000000012004,900000000000547002,900000000000480006,0,116680003,900000000000011006,900000000000451002
6133391,900000000000721021,20020131,1,900000000000012004,900000000000548007,900000000000511003,0,116680003,900000000000011006,900000000000451002
6133392,900000000000722025,20020131,1,900000000000012004,900000000000549004,900000000000511003,0,116680003,900000000000011006,900000000000451002
6133393,900000000000723024,20020131,1,900000000000012004,900000000000550004,900000000000446008,0,116680003,900000000000011006,900000000000451002

In [6]:
RELATIONSHIP_CONCRETE_VALUES # https://confluence.ihtsdotools.org/display/DOCRELFMT/4.2.6+Concrete+Value+File+Specification

'C:\\Users\\Sean McCarren\\Downloads\\SnomedCT_InternationalRF2_PRODUCTION_20220430T120000Z\\SnomedCT_InternationalRF2_PRODUCTION_20220430T120000Z\\Full\\Terminology\\sct2_RelationshipConcreteValues_Full_INT_20220430.txt'

In [7]:
FSN = description[description['typeId'] == 900000000000003001][['conceptId', 'term']].drop_duplicates(subset=['conceptId'])
nodes = pd.DataFrame({'name': FSN['conceptId'], 'label': FSN['term']}).set_index('name')
nodes

                                                                label
name
127362006                              Previous pregnancies (finding)
127858008                      Ectopic female breast (body structure)
127859000                        Ectopic male breast (body structure)
127907005                         Undescended testis (body structure)
122549002                                           Injury (disorder)
...                                                               ...
900000000000546006       Inactive value (foundation metadata concept)
900000000000547002  Relationship inactivation indicator attribute ...
900000000000548007            Preferred (foundation metadata concept)
900000000000549004           Acceptable (foundation metadata concept)
900000000000550004                 Definition (core metadata concept)

[493244 rows x 1 columns]

In [8]:
def newest(df):
    highest_times = df.groupby('id')['effectiveTime'].transform(max)
    newest_df = df[highest_times == df['effectiveTime']]
    assert len(newest_df.index) == len(np.unique(newest_df.index.values))
    return newest_df

def active(df):
    active_df = df[df['active'] == 1]
    assert (active_df['active'] == 1).all()
    return active_df

description = active(newest(description))
relationship = active(newest(relationship))

In [9]:


FSN = description[description['typeId'] == 900000000000003001][['conceptId', 'term']].drop_duplicates(subset=['conceptId'])
nodes = pd.DataFrame({'name': FSN['conceptId'], 'label': FSN['term']}).set_index('name')
nodes

                                                                label
name
127362006                              Previous pregnancies (finding)
122549002                                           Injury (disorder)
125587004                               Superficial injury (disorder)
125643001                                       Open wound (disorder)
125665001                                  Crushing injury (disorder)
...                                                               ...
900000000000546006       Inactive value (foundation metadata concept)
900000000000547002  Relationship inactivation indicator attribute ...
900000000000548007            Preferred (foundation metadata concept)
900000000000549004           Acceptable (foundation metadata concept)
900000000000550004                 Definition (core metadata concept)

[493244 rows x 1 columns]

In [11]:
edges = relationship[['destinationId', 'sourceId', 'typeId']].rename(columns={'destinationId': 'parent', 'sourceId':'child', 'typeId':'type'}).drop_duplicates()
edges

                     parent               child       type
2                  29857009            10000006  116680003
3                   9972008            10000006  116680003
24                 84371003           134035007  116680003
49                 57250008           134136005  116680003
54                116175006            10002003  116680003
...                     ...                 ...        ...
6133389  900000000000491004  900000000000546006  116680003
6133390  900000000000480006  900000000000547002  116680003
6133391  900000000000511003  900000000000548007  116680003
6133392  900000000000511003  900000000000549004  116680003
6133393  900000000000446008  900000000000550004  116680003

[1164563 rows x 3 columns]

In [12]:
nodes.loc[relationship[relationship['sourceId'] == 25087005]['typeId']]

                      label
name
116680003  Is a (attribute)

In [40]:
ranked_relations = edges['type'].value_counts().index.values
mapping = pd.Series(nodes.loc[ranked_relations, 'label'].values, index=np.arange(len(ranked_relations)))
inverse = pd.Series(np.arange(len(ranked_relations)), index=ranked_relations)
new_type = inverse[edges['type']].values
mapping.tolist()

['Is a (attribute)',
 'Finding site (attribute)',
 'Associated morphology (attribute)',
 'Method (attribute)',
 'Interprets (attribute)',
 'Procedure site - Direct (attribute)',
 'Has active ingredient (attribute)',
 'Laterality (attribute)',
 'Pathological process (attribute)',
 'Causative agent (attribute)',
 'Due to (attribute)',
 'Occurrence (attribute)',
 'Has manufactured dose form (attribute)',
 'Has interpretation (attribute)',
 'Plays role (attribute)',
 'Has disposition (attribute)',
 'Has precise active ingredient (attribute)',
 'Has basis of strength substance (attribute)',
 'Component (attribute)',
 'Procedure site - Indirect (attribute)',
 'Direct morphology (attribute)',
 'Clinical course (attribute)',
 'Direct substance (attribute)',
 'Has presentation strength numerator unit (attribute)',
 'Has intent (attribute)',
 'Using device (attribute)',
 'Has unit of presentation (attribute)',
 'Has presentation strength denominator unit (attribute)',
 'Temporal context (attribute)',
 'Subject relationship context (attribute)',
 'Has focus (attribute)',
 'Direct device (attribute)',
 'Using substance (attribute)',
 'Procedure site (attribute)',
 'Has specimen (attribute)',
 'After (attribute)',
 'Has concentration strength numerator unit (attribute)',
 'Has concentration strength denominator unit (attribute)',
 'Procedure context (attribute)',
 'Associated finding (attribute)',
 'Finding context (attribute)',
 'Associated procedure (attribute)',
 'Is modification of (attribute)',
 'Finding method (attribute)',
 'Access (attribute)',
 'Using access device (attribute)',
 'Property (attribute)',
 'Associated with (attribute)',
 'Specimen source topography (attribute)',
 'Has realization (attribute)',
 'Inheres in (attribute)',
 'Revision status (attribute)',
 'Specimen substance (attribute)',
 'Specimen procedure (attribute)',
 'Scale type (attribute)',
 'Characterizes (attribute)',
 'Surgical approach (attribute)',
 'Time aspect (attribute)',
 'Indirect morphology (attribute)',
 'Using energy (attribute)',
 'During (attribute)',
 'Technique (attribute)',
 'Has device intended site (attribute)',
 'Inherent location (attribute)',
 'Process acts on (attribute)',
 'Has dose form intended site (attribute)',
 'Process duration (attribute)',
 'Has compositional material (attribute)',
 'Direct site (attribute)',
 'Has dose form release characteristic (attribute)',
 'Has dose form administration method (attribute)',
 'Has basic dose form (attribute)',
 'Has dose form transformation (attribute)',
 'Finding informer (attribute)',
 'Procedure device (attribute)',
 'Is sterile (attribute)',
 'Priority (attribute)',
 'Route of administration (attribute)',
 'Procedure morphology (attribute)',
 'Has absorbability (attribute)',
 'Specimen source morphology (attribute)',
 'Recipient category (attribute)',
 'Temporally related to (attribute)',
 'Process extends to (attribute)',
 'Indirect device (attribute)',
 'Relative to (attribute)',
 'Has state of matter (attribute)',
 'Specimen source identity (attribute)',
 'Has coating material (attribute)',
 'Units (attribute)',
 'Precondition (attribute)',
 'Process output (attribute)',
 'Measurement method (attribute)',
 'Has target population (attribute)',
 'Has filling (attribute)',
 'Severity (attribute)',
 'Has ingredient qualitative strength (attribute)',
 'Has surface texture (attribute)',
 'Relative to part of (attribute)',
 'Before (attribute)']

In [38]:
severity = 246112005
nodes.loc[relationship[relationship['typeId'] == severity]['destinationId']]

                                                    label
name
255604002                          Mild (qualifier value)
6736007    Moderate (severity modifier) (qualifier value)
24484000     Severe (severity modifier) (qualifier value)
255604002                          Mild (qualifier value)
6736007    Moderate (severity modifier) (qualifier value)
24484000     Severe (severity modifier) (qualifier value)

In [39]:
relationship[relationship['destinationId'] == 24484000]

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
5286245,6680738027,20190731,1,900000000000207008,717933005,24484000,2,246112005,900000000000011006,900000000000451002
5472292,9195984020,20190731,1,900000000000207008,764785006,24484000,1,246112005,900000000000011006,900000000000451002

In [47]:
np.isin('Severity', nodes['label'])

array(False)

In [15]:
nodes.loc[ranked_relations, 'label'].values

array(['Is a (attribute)', 'Finding site (attribute)',
       'Associated morphology (attribute)', 'Method (attribute)',
       'Interprets (attribute)', 'Procedure site - Direct (attribute)',
       'Has active ingredient (attribute)', 'Laterality (attribute)',
       'Pathological process (attribute)', 'Causative agent (attribute)',
       'Due to (attribute)', 'Occurrence (attribute)',
       'Has manufactured dose form (attribute)',
       'Has interpretation (attribute)', 'Plays role (attribute)',
       'Has disposition (attribute)',
       'Has precise active ingredient (attribute)',
       'Has basis of strength substance (attribute)',
       'Component (attribute)', 'Procedure site - Indirect (attribute)',
       'Direct morphology (attribute)', 'Clinical course (attribute)',
       'Direct substance (attribute)',
       'Has presentation strength numerator unit (attribute)',
       'Has intent (attribute)', 'Using device (attribute)',
       'Has unit of presentation (attribute)',
       'Has presentation strength denominator unit (attribute)',
       'Temporal context (attribute)',
       'Subject relationship context (attribute)',
       'Has focus (attribute)', 'Direct device (attribute)',
       'Using substance (attribute)', 'Procedure site (attribute)',
       'Has specimen (attribute)', 'After (attribute)',
       'Has concentration strength numerator unit (attribute)',
       'Has concentration strength denominator unit (attribute)',
       'Procedure context (attribute)', 'Associated finding (attribute)',
       'Finding context (attribute)', 'Associated procedure (attribute)',
       'Is modification of (attribute)', 'Finding method (attribute)',
       'Access (attribute)', 'Using access device (attribute)',
       'Property (attribute)', 'Associated with (attribute)',
       'Specimen source topography (attribute)',
       'Has realization (attribute)', 'Inheres in (attribute)',
       'Revision status (attribute)', 'Specimen substance (attribute)',
       'Specimen procedure (attribute)', 'Scale type (attribute)',
       'Characterizes (attribute)', 'Surgical approach (attribute)',
       'Time aspect (attribute)', 'Indirect morphology (attribute)',
       'Using energy (attribute)', 'During (attribute)',
       'Technique (attribute)', 'Has device intended site (attribute)',
       'Inherent location (attribute)', 'Process acts on (attribute)',
       'Has dose form intended site (attribute)',
       'Process duration (attribute)',
       'Has compositional material (attribute)',
       'Direct site (attribute)',
       'Has dose form release characteristic (attribute)',
       'Has dose form administration method (attribute)',
       'Has basic dose form (attribute)',
       'Has dose form transformation (attribute)',
       'Finding informer (attribute)', 'Procedure device (attribute)',
       'Is sterile (attribute)', 'Priority (attribute)',
       'Route of administration (attribute)',
       'Procedure morphology (attribute)',
       'Has absorbability (attribute)',
       'Specimen source morphology (attribute)',
       'Recipient category (attribute)',
       'Temporally related to (attribute)',
       'Process extends to (attribute)', 'Indirect device (attribute)',
       'Relative to (attribute)', 'Has state of matter (attribute)',
       'Specimen source identity (attribute)',
       'Has coating material (attribute)', 'Units (attribute)',
       'Precondition (attribute)', 'Process output (attribute)',
       'Measurement method (attribute)',
       'Has target population (attribute)', 'Has filling (attribute)',
       'Severity (attribute)',
       'Has ingredient qualitative strength (attribute)',
       'Has surface texture (attribute)',
       'Relative to part of (attribute)', 'Before (attribute)'],
      dtype=object)

In [16]:
from visualize_events.data import *
inpd = load_data('snomed_mapping')
facts = load_data('facts')

In [17]:
import numpy as np
vals = list(G.nodes.keys())
isin = np.isin(inpd.index.values, vals)
print(np.mean(isin))
inpd[np.logical_not(isin)]

0.9728395061728395

,found,label,first_level,parents
key,,,,
10519008,0,NaN,NaN,64161004
193004006,1,Epileptic automatism,Clinical finding,79631006
239928004,0,NaN,NaN,85919009
219742923,1,Meningoencephalitis caused by virus,Clinical finding,"34476008,58170007,7125002"
65438524,1,Labyrinthine hydrops,Clinical finding,"118654009,20425006"
...,...,...,...,...
253853002,1,Preputial adhesions,Clinical finding,"300520007,33958003"
300908007,0,NaN,NaN,442197003
239796000,1,Juvenile chronic arthritis,Clinical finding,35908007
-765591746,1,Sinusitis co-occurrent with nasal polyps,Clinical finding,"36971009,736499003"
-836174015,1,Imaging of central nervous system abnormal,Clinical finding,408574004

In [18]:
inpd.index

Int64Index([415531008, 278528006, 248021000, 735445000,  92373002,  22741003,
              4522001, 274858002,  78250005,  94634005,
            ...
            123863008, 105644004, 416940007,  40108008, 415105001, 206209004,
            271745005,  65110003, 106070007,   1835003],
           dtype='int64', name='key', length=11745)

In [19]:
description[description['conceptId'] == 402761000]

,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
id,,,,,,,,
1773667011,20170731,1,900000000000207008,402761000,en,900000000000013009,Dermatosis due to therapeutic ionising irradia...,900000000000448009
1774953011,20170731,1,900000000000207008,402761000,en,900000000000013009,Dermatosis due to therapeutic ionizing irradia...,900000000000448009
3292745010,20170731,1,900000000000207008,402761000,en,900000000000003001,Dermatosis caused by therapeutic ionizing irra...,900000000000448009
3294898015,20170731,1,900000000000207008,402761000,en,900000000000013009,Dermatosis caused by therapeutic ionising irra...,900000000000448009
3295873012,20170731,1,900000000000207008,402761000,en,900000000000013009,Dermatosis caused by therapeutic ionizing irra...,900000000000448009

In [20]:
description[description['conceptId'] == 403731002]

,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
id,,,,,,,,
1771657013,20170731,1,900000000000207008,403731002,en,900000000000003001,Radiation-induced dermatosis (disorder),900000000000448009
1782743013,20170731,1,900000000000207008,403731002,en,900000000000013009,Radiation-induced dermatosis,900000000000448009

In [21]:
import numpy as np
relationship[np.logical_and(relationship['sourceId'] == 403731002, relationship['destinationId'] == 402761000)]

Empty DataFrame
Columns: [id, effectiveTime, active, moduleId, sourceId, destinationId, relationshipGroup, typeId, characteristicTypeId, modifierId]
Index: []

In [22]:
description[description['conceptId'] == 900000000000011006]

,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
id,,,,,,,,
900000000000031014,20170731,1,900000000000012004,900000000000011006,en,900000000000013009,Inferred relationship,900000000000448009
900000000000032019,20170731,1,900000000000012004,900000000000011006,en,900000000000003001,Inferred relationship (core metadata concept),900000000000448009

In [23]:
np.sum(~np.isin(facts['snomed_reaction'].unique(), nodes.index))

4

In [24]:
edges.groupby('parent')['child'].count()

parent
104001                1
106004                2
107008                2
109006                7
110001                1
                     ..
911753511000004104    1
911753551000004103    1
911753701000004109    1
911753771000004102    1
911753801000004100    1
Name: child, Length: 136374, dtype: int64

In [25]:
edges.groupby('child')['parent'].count()

child
101009                1
102002                1
103007                1
104001                5
106004                2
                     ..
987840791000119102    4
989065441000087103    1
998010041000087101    1
999480551000087103    1
999480561000087100    1
Name: parent, Length: 356171, dtype: int64

In [26]:
hi = pd.DataFrame(data={'nr_children':edges.groupby('parent')['child'].count(), 'nr_parents':edges.groupby('child')['parent'].count()}, index=nodes.index).fillna(0).astype(int)

In [27]:
nodes.index.values[np.logical_and(hi['nr_children'] > 0, hi['nr_parents'] == 0)].item()

138875005